.text
  .text__info-box

    .text__info-box
      .text__title Marian Zburlea

    .text__info-box
      .text__sub-title Unicorn Trainer



  .text__gap-8
    .text__info-box
      .text__section-title Sumar

    .text__info-box
      .text__descriere I am working on improving the candidate's experience during the job search time.
      .text__descriere I work every day with Remix, React, Hooks, Redux, NextJS, and Firebase with JavaScript and TypeScript to create amazing Apps.
