$icomoon-font-family: "cv" !default;
$icomoon-font-path: "/asset/font" !default;

$cv-cup-half: "\e908";
$cv-medal: "\e909";
$cv-trophy-2: "\e90a";
$cv-trophy-1: "\e90b";
$cv-trophy-3: "\e90c";
$cv-cup-full: "\e90d";
$cv-piggy-bank: "\e914";
$cv-arrow-down: "\e901";
$cv-email: "\e902";
$cv-github: "\e903";
$cv-cross: "\e904";
$cv-menu: "\e905";
$cv-home: "\e906";
$cv-youtube: "\e907";
