.grid
  .grid__row-2
  .grid__row-2
  .grid__row-3
  .grid__row-1
  .grid__row-4
  .grid__row-4
  .grid__row-2
  .grid__row-2
  .grid__row-2
  .grid__row-1
  .grid__row-full
  .grid__row-1
  .grid__row-2
  .grid__row-2
  .grid__row-1
  .grid__row-1
  .grid__row-1
  .grid__row-1
  .grid__row-full


